@import url('https://fonts.googleapis.com/css?family=Quicksand');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Quicksand', sans-serif;
}
.container{
  position: relative;
  top: -700px;
  left: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container a{
  width: 270px;
  height: 80px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #0f0;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
  transition: 0.5s;
}
.contaner a:nth-child(2){
  filter: hue-rotate(80deg);
}
.container a span{
  font-size: 25px;
  position: relative;
  z-index: 100;
  left: 60px;
  bottom: -1px;
}
.container a:hover{
  transition-delay: 0.9s;
  color: #000;
  box-shadow: 0 0 10px #0f0,
  0 0 20px #0f0,
  0 0 40px #0f0,
  0 0 80px #0f0,
  0 0 160px #0f0;
}

.container a::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-49%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: 5px -8px 0 #0f0, 5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s,  height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::before{
  width: 60%;
  height: 100%;
  left: -2px; 
  box-shadow: 5px 0 0 #0f0,
              5px 0 0 #0f0;
  transition-delay: 0s,0.5s,1s,1s;
}

.container a::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-49%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: -5px -8px 0 #0f0, -5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s,  height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::after{
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: 5px 0 0 #0f0,
              5px 0 0 #0f0;
  transition-delay: 0s,0.5s,1s,1s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  overflow: hidden;
}

.testimonials {
  position: relative;
  width: 700px;
  left: -200px;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px; 
  margin: 0 20px;
  background: white;
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
}



.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.testimonials .card {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  background: #333;
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
}

.testimonials .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#03a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}
.testimonials .card:hover .layer{
  top: 0;
}
.testimonials .card .content{
  position: relative;
  z-index: 2;
}
.testimonials .card .content p{
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
  color: white;
}
.testimonials .card .content .imgbox{
  margin: 0 auto 50px;
}
img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.testimonials .card .content h2{
  font-size: 38px;
  color: white;
}
.testimonials .card .content h2 span{
  color: skyblue;
  font-size: 34px;
  transition: 0.5s;
}
.testimonials .card:hover .content h2 span{
  color: whitesmoke;
}
