body {
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(140deg,#df76a0, #31032e);
    margin: 0;
    padding: 0;
    max-width: 1200px;
}
.card{
    position: relative;
    left: 1500px;
    top: -900px;
    width: 1200px;
    height: 700px;
    margin: 20px;
    overflow: hidden;
}
main img{
    border: 1px solid transparent;
    border-radius: 95px;
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: relative; 
}
.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .card-overlay h3{
    color: beige;
    font-size: 50px;

  }
  .card-overlay p{
    color: beige;
    font-size:30px;
  }

  .card:hover img {
    transform: scale(1.1);
  }
  
  .card:hover .card-overlay {
    opacity: 1;
  }
.paragraph-company {
    line-height: 1.5;
    font:bold;
    color: beige;
    font-size:35px;
    width: 1500px;
    position: relative;
    left: -300px;
}
main{
    position: relative;
    left: 550px;
    bottom: -250px;
}

/* Other styles */
header {
    background-color: transparent;
    color: #7e6673;
    padding: 20px;
    margin-top: 35px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: -100px;
}

header img {
    width: 90px;
    margin-right: 5px;
    display: inline-block; /* make the image behave like an inline element */
}

header h2 {
    margin: 0;
    font-size: 70px;
    display: inline-block;
    left: -10px;
    color: beige;
}

header button {
    background-color: rgb(225, 236, 194);
    color: #a356b6;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 300px;
    height: 55px;
    position: relative;
    left: 160px; /* decreased distance */
    font-size: 24px; /* increase the font size */
    padding: 10px; /* increase the padding to create more space */
    margin-right: 70px;
}

header button:hover {
    background-color: transparent  ;
}

header button::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 35px;
    background-color:lavender;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

header button:hover::before {
    opacity: 1;
}

header button i {
    margin-right: 10px; /* decrease the margin between the icon and the text */
    font-size: 32px; /* increase the icon size */

}

header button:hover::after {
    content: attr(data-name);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: normal;
    background-color: rgb(204, 197, 130);
    padding: 10px;
    border-radius: 5px;
    box-shadow: blue;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
}

nav li {
    position: relative;
    margin-right: 50px;
    left: 670px;
}

nav a {
    color: #584b5a;
    text-decoration: none;
    font-weight: bold;  
    font-size: 16px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #c54891;
}



h1, h2 {
    color: #333;
    font-weight: bold;
    margin: 0 0 10px 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

/* Technology-specific styles */
header h1 {
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

nav a {
    font-size: 18px;
}

nav li:last-child {
    margin-right: 0;
}


section h3 {
    color: beige;
    position: relative;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    left : -450px;
}


/* Animations */
nav a {
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.2s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

footer{
    font-size: 60px;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
